.businessCard{
    min-width: 200px;
    max-width:250px;
    min-height:350px;
    border-radius:5px;
    overflow:hidden;
    display:flex; 
    flex-direction:column;
}

.ImgContainer{
    width:100%;
    height:70%;
    overflow: hidden;
}

.ImgContainer img{
    display: block;
    width:100%;
    height: 100%;
    margin: auto;
}

.name{
    font-family:Impact, sans-serif;
    font-weight:500;
}

.Info{
    width:100%;
    height:30%;
    margin-top:10px;
    display: flex;
    flex-direction: column;
    row-gap:0;
}

.infoSection{
    display:flex;
    justify-content: space-between;
}

.infoSection h4{
    text-align: end;
}

.infoSection:last-child{
    justify-content: end;
}

.emphasis{
    color:#A4813D;
}